.avatar__container {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #efefef;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-bottom: 30px;
}

.avatar__placeholder {
	width: 60px;
	height: 60px;
}

.avatar__overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 13px;
	opacity: 0;
	border: none;
	cursor: pointer;
	border-radius: 50%;
}

.avatar__container--editable:hover .avatar__overlay {
	opacity: 1;
}

.avatar__input {
	display: none;
}